<div class="row">
    <div class="col-md-8">
            <h2 class="title-top">Berita Terbaru</h2>
            <!--Informasi Terbaru-->
            <div class="middle-panel">
                <div class="bottom-middle-panel">
                    <ul>
            
                        <li ng-repeat="adg in agenda" >
                            {{adg.posisi}}
                            <!-- <ul>
                            <li ng-repeat="meta in adg.metaAgenda" >
                                {{meta.kegiatan}}
                            </li>
                        </ul> -->
                        <table class="table">
                                <tr>
                                    <th>Kegiatan</th>
                                    <th>Tujuan</th>
                                    <th>Pelaksanaan</th>
                                </tr>
                                <tr ng-repeat="meta in adg.metaAgenda">
                                    <td>{{meta.kegiatan}}</td>
                                    <td>{{meta.tujuan}}</td>
                                    <td>{{meta.waktu}}</td>
                                </tr>
                                </table>
                        </li>
            
                    </ul>
                </div>
            </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-header">
                Divisi Argajaladri
            </div>
            <div class="list-group list-group-flush">
                <!-- card-body  -->
                <!-- <p class="card-text"  class="list-group"> -->

                <a class="list-group-item list-group-item-action"  ng-repeat="d in divisi" href="#!/divisi/{{d.id}}" ></a>

                <!-- </p> 
                // {{d.divisi}}
                -->
            </div>
            <!-- <div class="card-footer text-right"> -->
                <!-- <a href="#" class="btn btn-primary btn-sm">More Info</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /.col-md-4 -->
</div>
