<div class="row">

	<div class="col-md-8 mb-8">
<h2 class="title-top">Data Anggota Argajaladri</h2> 

<div class="middle-panel">
		<div class="bottom-middle-panel">
			<table class="table">
				<tr>
					<th>#</th>
					<th>Tahun</th>
					<th>Nama Angkatan</th>
					<th>Arti Angkatan</th>
					<th>Jumlah</th>
				</tr>
				<tr ng-repeat="ank in angkatan">
						
					<td><input type="radio" ng-model="x" name="x" ng-click="getAnggota(ank.tahun);">
					<a class="btn btn-primary btn-sm" href="#!/anggota/{{ank.tahun}}">Lihat</a></td>
					<td>{{ank.tahun}}</td>
					<td>{{ank.angkatan}}</td>
					<td>{{ank.arti}}</td>
					<td>{{ank.jumlah}}</td>
		
				</tr>
			</table>
	
			<!-- <ul >
				<li ng-repeat="level in angkatan">
					<input type="checkbox" ng-model="x" name="x" ng-click="getAnggota(level.tahun);">
					 - [ {{level.tahun}} ] - {{level.angkatan}} ({{level.arti}}) - {{level.jumlah}} Orang 
				<div ng-if="x">
				<table class="table">
				<tr>
					<th>No Anggota</th>
					<th>Nama</th>
				</tr>
				<tr ng-repeat="ang in anggota">
					<td>{{ang.no_induk}}</td>
					<td>{{ang.nama}}</td>
				</tr>
				</table>
					<!-- <div ng-repeat="a in anggota"> -->
						<!-- <p>[{{a.id}}]  {{a.nama}}</p> -->
					<!-- </div> -->
				<!-- </div>
				</li>
			</ul> --> 
		</div>
	</div>

	</div>
	<div class="col-md-4 mb-4">
			<!-- <div ng-if="x"> -->
					<!-- <table class="table">
							<tr>
									<th>No Anggota</th>
									<th>Nama</th>
								</tr>
								<tr ng-repeat="ang in anggota">
									<td>{{ang.no_induk}}</td>
									<td>{{ang.nama}}</td>
								</tr>
							
									</table> -->
								<!-- </div> -->
	</div>

</div>

