<h2 class="title-top">Berita Terbaru</h2>
<!--Informasi Terbaru-->
<div class="middle-panel">
    <div class="bottom-middle-panel">
        <ul>

            <li ng-repeat="b in berita" >
                <div class="date">
                    {{b.date}}
                </div>
                <div class="title">
                    <a href="#">
                        {{b.judul}}
                    </a>
                </div>
                <div class="text" ng-init="onLoadDesk(b.desk)">
                    {{text | limitTo: 100}}{{text.length > 100 ? ' ...' : ''}}
                </div>
                {{docum}}
            </li>

        </ul>
    </div>
</div>