
<div class="row">
    <div class="col-md-8">
        <div>
                <img class="img-fluid rounded" src="src/{{artikelDetail.image}}" alt="">

            <h2>{{artikelDetail.judul}}</h2>
            <h6></h6>
            
            
            <p ng-repeat="d in desk">
                {{d}}
            </p>
                            <!-- <div id="txt"></div> -->
        </div>
    </div>
    <div class="col-md-4">
            <div class="card">
                    <div class="card-header">
                        Artikel Terbaru
                    </div>
                    <div class="list-group list-group-flush">
                        <!-- card-body  -->
                        <!-- <p class="card-text"  class="list-group"> -->
        
                        <!-- <a class="list-group-item list-group-item-action"  ng-repeat="d in divisi" href="#!/divisi/{{d.id}}" >{{d.divisi}}</a> -->
        
                        <!-- </p> -->
                    </div>
                    <!-- <div class="card-footer text-right"> -->
                        <!-- <a href="#" class="btn btn-primary btn-sm">More Info</a> -->
                    <!-- </div> -->
                </div>
        <div class="card">
            <div class="card-header">
                Divisi Argajaladri
            </div>
            <div class="list-group list-group-flush">
                <!-- card-body  -->
                <!-- <p class="card-text"  class="list-group"> -->

                <!-- <a class="list-group-item list-group-item-action"  ng-repeat="d in divisi" href="#!/divisi/{{d.id}}" >{{d.divisi}}</a> -->

                <!-- </p> -->
            </div>
            <!-- <div class="card-footer text-right"> -->
                <!-- <a href="#" class="btn btn-primary btn-sm">More Info</a> -->
            <!-- </div> -->
        </div>
    </div>
</div>

