<div class= "row">
  <div class= "col-md-8">
    <h2 class="title-top">Data Informasi Anggota</h2>
    </br>
    <table class="table">
				<tr>
					<td>Nomor Anggota</td>
					<td>:</td>
					<td><b>{{person.no_induk}}</b></td>
				</tr>
				<tr>
					<td>Nama Lengkap</td>
					<td>:</td>
					<td>{{person.nama}}</td>
				</tr>
				<tr>
					<td>Angkatan</td>
					<td>:</td>
					<td>{{person.angkatan}}</td>
				</tr>
				<tr>
					<td>Alamat</td>
					<td>:</td>
					<td>{{person.alamat}}</td>
				</tr>
				<tr>
					<td>Tanggal Lahir</td>
					<td>:</td>
					<td>{{person.tgl_lahir}}</td>
				</tr>
				<tr>
					<td>Kontak</td>
					<td>:</td>
					<td>{{person.hp}}</td>
				</tr>
			</table>
  </div>
</div>