<div class="row">
    <div class="col-md-8">

    
<h2 class="title-top">DIVISI ARGAJALADRI</h2>
<div class="middle-panel">
    <div class="bottom-middle-panel">
        <ul>

            <li ng-repeat="d in divisi" >
                <div class="title">
                    <a href="#!/divisi/{{d.id}}">
                        {{d.judul}}
                    </a>
                </div>
                <div class="text">
                    <!--{{art.isi | limitTo: 255}}{{art.isi.length > 255 ? ' ...' : ''}}-->
                    <!--<p ng-repeat="desk in d.deskripsi">{{desk}}</p>-->
                    <p>{{deskripsi}}</p>
                        
                </div>
            </li>

        </ul>
    </div>
</div>
<div class="col-md-4 mb-4">
    <div class="card">
        <div class="card-header">
            Divisi Argajaladri
        </div>
        <div class="list-group list-group-flush">
            <!-- card-body  -->
            <!-- <p class="card-text"  class="list-group"> -->

            <a class="list-group-item list-group-item-action"  ng-repeat="d in divisi" href="#!/divisi/{{d.id}}" ></a>

            <!-- </p> 
            // {{d.divisi}}
            -->
        </div>
        <!-- <div class="card-footer text-right"> -->
            <!-- <a href="#" class="btn btn-primary btn-sm">More Info</a> -->
        <!-- </div> -->
    </div>
</div>
<!-- /.col-md-4 -->
</div>
</div>