<h2 class="title-top">DIVISI ARGAJALADRI</h2>
<div class="middle-panel">
    <div class="bottom-middle-panel">
        <ul>

            <li ng-repeat="d in divisi" >
                <div class="title">
                    <a href="#">
                        {{d.judul}}
                    </a>
                </div>
                <div class="text">
                    <!--{{art.isi | limitTo: 255}}{{art.isi.length > 255 ? ' ...' : ''}}-->
                    <!--<p ng-repeat="desk in d.deskripsi">{{desk}}</p>-->
                    <p>{{deskripsi}}</p>
                        
                </div>
            </li>

        </ul>
    </div>
</div>