<!-- Heading Row -->
<div class="row my-4">
    <div class="col-lg-8">
        <img class="img-fluid rounded" src="src/26thn.png" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <!-- <a class="flex-column align-items-start" href="#">hello</a> -->
        <h1>Selamat Datang Mahasiswa Baru</h1>
        <p>Mapala Argajaladri
Argajaladri adalah organisasi mahasiswa pencinta alam di Universitas Islam Sultan Agung Semarang.</p>
        <a href="#" class="btn btn-primay" type="button">Pendaftaran</>
        <!-- <a class="btn btn-primary btn-lg" href="#">Call to Action!</a> -->
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->

<!-- Call to Action Well -->
<div class="card text-white bg-secondary my-4 text-center">
    <div class="card-body">
        <p class="text-white m-0"><b>PERHATIAN!!</b> Sistem informasi dalam tahap pemulihan.</p>
    </div>
</div>

<!-- Content Row -->
<div class="row">
    <div class="col-md-8 mb-8">
        <div class="list-group">

            <a  ng-repeat="art in artikel | orderBy:'-date'" href="#!/artikel/{{art.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{art.judul}}</h5>
                    <small>{{art.date | date:'yyyy/MM/dd'}}</small>
                </div>
                <!-- <p class="mb-1">{{doc(art.desk) | limitTo:5}}</p> -->
                <!-- <p class="mb-1">{{art.isi | limitTo: 255}}{{art.isi.length > 255 ? ' ...' : ''}}</p> -->

			<!-- <small>{{art.write}}.</small> -->
            </a> 

        </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-header">
                Divisi Argajaladri
            </div>
            <div class="list-group list-group-flush">
                <!-- card-body  -->
                <!-- <p class="card-text"  class="list-group"> -->

                <a class="list-group-item list-group-item-action"  ng-repeat="d in divisi" href="#!/divisi/{{d.id}}" >{{d.divisi}}</a>

                <!-- </p> -->
            </div>
            <!-- <div class="card-footer text-right"> -->
                <!-- <a href="#" class="btn btn-primary btn-sm">More Info</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /.col-md-4 -->

</div>
<!-- /.row -->
