<h2 class="title-top">Pengurus</h2>
<div class="middle-panel">
    <div class="bottom-middle-panel">
        <ul>

            <li ng-repeat="arr in pengurus" >
                {{arr.posisi}}
                <ul>
                    <li ng-repeat="anggota in arr.user" ng-init="idPengurus(anggota.id)">
                        {{varPengurus[anggota.id - 1].nama}}
                            <!-- <div  ng-model-options="metaPengurus.nama">
                                    
                            </div> -->
                            
						<!-- <div ng-model="getIdUser(anggota.id);"> -->
						<!-- </div> -->
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

